
#top {
    position: relative;
    background-color:#F8F5F1;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    height: 100px;
}



#left {
    float: left;

    padding: 5px;
    width: 300px;
    height: 700px;
}


.center_content {
    padding: 5px;
    margin-left: 320px;
    height: 700px;
}

.basicPanel_content {
    padding: 5px;
    margin: 0px 0px;
    height: 700%;
}

.tree{
    width:100% !important; 
    height:100%  !important; 
    margin: 10px 0px 0px 0px !important;
}
.inputTextLeftMenu{
    width:400px;
}
.findButton {

}
.dragAndDropPanel{

    width:400px !important; 
    height:370px !important; 
    margin: 0px  !important;
    padding: 0px !important;
    box-shadow: 0 0 10px black;
}

.dragAndDropPanel .ui-panel-content{
    padding: 0px !important;
}

.dragAndDropPanel .ui-scrollpanel{
    border: none !important;
}

.dragAndDropScrollPanel{
    width:400px !important; 
    height:345px !important; 
    margin: 0px  !important;
    padding: 0px !important;
}
.dragAndDropScrollPanel .ui-scrollpanel{
    margin: 0px  !important;
    padding: 0px !important;
}
.uiselManyCheckbox{
    overflow: auto !important; 
}
.dragAndDropScrollPanel .ui-widget-content{
    border: 0px !important;
}

.treeNodes{
    text-decoration: none;
    padding: 2px; /* Поля вокруг текста */

}
.treeNodesEntity:hover{
    text-decoration: none;
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #7C97E4; /* Цвет фона */
}
.treeNodesSchema:hover{
    text-decoration: none;
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #5F81E3; /* Цвет фона */
}   

.panelGridEntities{
    width:300px !important; 
    margin: 0px  !important;
    padding: 0px !important;

}

.dragAndDropPanel .ui-panelgrid-cell{

    padding: 0px 0px !important;
}
.dropPanel{
}

.dropPanel .ui-panel-content{
     padding: 0px !important;
     margin: 0px !important;
}
.dropPanel .ui-panelgrid-cell{

    padding: 0px 0px !important;
}
.dropPanel .ui-widget-content{
    border: 0px !important;
}
.titleOndragAndDropScrollPanel {
    margin: 1em 0 0.5em 0;
    font-weight: normal;
    position: relative;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 28px;
    line-height: 40px;
    background: #62ADF3;
    background: #62ADF3;
    border: 1px solid #62ADF3 ;
    padding: 5px 15px; 
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px #FFF;
    font-family: 'Muli', sans-serif;
}
.titleOndragAndDropScrollPanel  {
    margin: 1em 0 0.5em 0;
    font-weight: normal;
    position: relative;
    text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 28px;
    line-height: 40px;
    background: #62ADF3;
    background: #62ADF3;
    border: 1px solid #62ADF3;
    padding: 5px 15px; 
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px #FFF;
    font-family: 'Muli', sans-serif;
}
.table-style-one {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #3A3A3A;
    border-collapse: collapse;
}
.table-style-one th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #B3B3B3;
}
.table-style-one td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #3A3A3A;
    background-color: #ffffff;
}

.ui-diagram-element {
    border:0.1em dotted #E5E4E2; 
    background-color: #EFEEEC;  
    width:400px;
    height:370px ; 
    margin: 0px  ;
    padding: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    display: table;
    position: absolute;
    
}

.demo {
  /* for IE10+ touch devices */
  touch-action: none;
}

.flowchart-demo .window {
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  opacity: 0.8;
  width: 80px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  position: absolute;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica, sans-serif;
  padding: 0.5em;
  font-size: 0.9em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
}

.flowchart-demo .active {
  border: 1px dotted green;
}

.flowchart-demo .hover {
  border: 1px dotted red;
}

#flowchartWindow1 {
  top: 34em;
  left: 5em;
}

#flowchartWindow2 {
  top: 7em;
  left: 36em;
}

#flowchartWindow3 {
  top: 27em;
  left: 48em;
}

#flowchartWindow4 {
  top: 23em;
  left: 22em;
}

.flowchart-demo .jsplumb-connector {
  z-index: 4;
}

.flowchart-demo .jsplumb-endpoint,
.endpointTargetLabel,
.endpointSourceLabel {
  z-index: 21;
  cursor: pointer;
}

.flowchart-demo .aLabel {
  background-color: white;
  padding: 0.4em;
  font: 12px sans-serif;
  color: #444;
  z-index: 21;
  border: 1px dotted gray;
  opacity: 0.8;
  cursor: pointer;
}

.flowchart-demo .aLabel.jsplumb-hover {
  background-color: #5C96BC;
  color: white;
  border: 1px solid white;
}

.window.jsplumb-connected {
  border: 2px solid green;
}

.jsplumb-drag {
  outline: 4px solid pink !important;
}

path,
.jsplumb-endpoint {
  cursor: pointer;
}

.jsplumb-overlay {
  background-color: transparent;
}